<div class="container">
    <h1>Views</h1>
    <br>
    <p>In this section you can find different views for the database</p>
    <div class="row row-content">
    <!--Another example
    http://stackoverflow.com/questions/28277812/angularjs-filter-by-more-than-one-value-from-the-scope-data
    -->
    
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li><a ui-sref="app.views.program">Planning of parallel sessions</a></li>
                <li><a ui-sref="app.views.program_2">Planning of parallel sessions (2)</a></li>
                <li><a ui-sref="app.views.program_3">Planning of parallel sessions (3, Ernest's original design) </a></li>
            </ul>
        </div>
    </div>
</div>
