<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 text-right">
            <button class="btn btn-link" ng-click="exportToExcel('*')">
                <span class="glyphicon glyphicon-share"></span> Export to Excel
            </button>
            <strong>Version: {{todaydate | date : 'dd/MM/yyyy HH:mm'}}</strong>
        </div>
        <div class="col-xs-12" ng-repeat="parallelt in parallel" ng-if="showparallel">       
	<h1 style="font-family: arial; color: black;">Parallel sessions {{parallelt.psid}}.</h1>	
		<p style="font-family: arial;"><em></em></p>
		<table width="100%" ng-repeat="sessionst in sessions | filter: {'psid':parallelt.psid}" ng-if="showsessions" style="border-collapse: collapse; border-spacing: 0; width: 100%; font-family: arial; color: black; page-break-inside: avoid;"> 
			<thead>
			    <tr style="background-color: black; color: white;">
				<th colspan="2" width="100%" style="text-align: left;
                padding: 7px;
                vertical-align:top;">Session {{sessionst.sid}} {{parallelt.date_long}}, {{parallelt.hour_begin}} - {{parallelt.hour_end}} </th>
			    </tr>
                <tr style="background-color: #D9D9D9;">
				<th colspan="2" width="100%" style="text-align: left;
                padding: 7px;
                vertical-align:top;">{{sessionst.stitle}}</th>
				   
			    </tr>
			    <tr style="background-color: white;">
				<th colspan="2" width="100%" style="text-align: left;
                padding: 7px;
                vertical-align:top;">Room: {{sessionst.sroom}}</th>
				   
			    </tr>
			    <tr style="background-color: #D9D9D9;">	
				<th  colspan="2" width="100%" style="text-align: left;
                padding: 7px;
                vertical-align:top;">Chair: {{sessionst.schair}}</th>
			    </tr> 	    
			</thead>
			<tbody>
				<tr ng-repeat="paperst in papers | filter: {'sid':sessionst.sid}" ng-if="showpapers" ng-style="$index % 2 == 0 ? {'background-color':'white'} : {'background-color':'#D9D9D9'}">
				<td width="60%" style="text-align: left;
                padding: 7px;
                vertical-align:top;">{{paperst.ptitle}}</td>
			 	<td width="40%" style="text-align: left;
                padding: 7px;
                vertical-align:top;">{{paperst.pauthors}}</td>
				</tr>
			</tbody>
		</table>
            <br style="page-break-after: auto">
            <br style="page-break-before: always">
        </div>    
    </div>
</div>


