<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 text-right">
            <button class="btn btn-link" ng-click="exportToExcel('#table')">
                <span class="glyphicon glyphicon-share"></span> Export to Excel
            </button>
            <strong>Version: {{todaydate | date : 'dd/MM/yyyy HH:mm'}}</strong>
        </div>
        <div class="col-xs-12" ng-repeat="parallelt in parallel" ng-if="showparallel">
	<h1>Parallel session {{parallelt.psid}}.</h1>	
		<p>{{parallelt.date_long}}, {{parallelt.hour_begin}} - {{parallelt.hour_end}}</p>
		<table class="table table-bordered" id="table" ng-repeat="sessionst in sessions | filter: parallelt.psid" ng-if="showsessions"> 
			<thead>
			    <tr>
				<th width="100&">{{sessionst.sid}} {{sessionst.stitle}}</th>
			    </tr>
			</thead>
			<tbody>
			</tbody>	
		</table>
        </div>
    </div>
</div>


