<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 text-right">
            <button class="btn btn-link" ng-click="exportToExcel('#table_results')">
                <span class="glyphicon glyphicon-share"></span> Export to Excel
            </button>
            <strong>Version: {{todaydate | date : 'dd/MM/yyyy HH:mm'}}</strong>
        </div>
        <div class="col-xs-12">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-3">
                <label for="inputauthor" class="sr-only">Author</label>
                <input type="text" ng-model="author"  class="form-control" id="inputauthor" placeholder="Author" >
            </div>
            <div class="form-group mx-sm-3 mb-3">
                <label for="inputpaper" class="sr-only">Title</label>
                <input type="text" ng-model="title"  class="form-control" id="inputpaper" placeholder="Title" >
            </div>
        </form>
            <br>
        </div>
   </div>     
    
<!--
-->  
    <div class="row row-content">
        <div class="col-xs-12">
                <table width="100%" class="table table-hover table-striped" id="table_results">
                    <tbody>
                    <tr ng-repeat="paperst in papers | filter: {'pauthors': author} | filter: {'ptitle': title}" ng-if="showpapers">
                        <td width="50%">
                            <p><strong>{{paperst.ptitle}}</strong><br>{{paperst.pauthors}}</p>
                        </td>
                        <td width="50%">
                            <p ng-repeat="sessionst in sessions | filter: {'sid':paperst.sid}" ng-if="showsessions" >
                             <strong>Session {{sessionst.sid}} {{sessionst.stitle}}</strong><br>
                             <small ng-repeat="parallelt in parallel | filter: {'psid':sessionst.psid}" ng-if="showparallel">
                                {{parallelt.date_long}}, {{parallelt.hour_begin}} - {{parallelt.hour_end}} </small>    
                            </p>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>

<!-- 


    <div class="row row-content">
        <div class="col-xs-12" ng-repeat="parallelt in parallel" ng-if="showparallel">       
	<h1 style="font-family: arial; color: black;">Parallel sessions {{parallelt.psid}}.</h1>	
		<p style="font-family: arial;"><em></em></p>
        <div style="width:100%;" ng-repeat="sessionst in sessions | filter: {'psid':parallelt.psid}" ng-if="showsessions">
            <table width="100%" style="border-collapse: collapse; border-spacing: 0; width: 100%; font-family: arial; color: black; line-height:105%;  page-break-inside: avoid;"> 
			<thead>
			    <tr style="background-color: black; color: white;">
				<th colspan="2" width="100%" style="text-align: left;
                padding: 7px;
                vertical-align:top;">Session {{sessionst.sid}} {{parallelt.date_long}}, {{parallelt.hour_begin}} - {{parallelt.hour_end}} </th>
			    </tr>
                <tr style="background-color: #D9D9D9;">
				<th colspan="2" width="100%" style="text-align: left;
                padding: 7px;
                vertical-align:top;">{{sessionst.stitle}}</th>
				   
			    </tr>
			    <tr style="background-color: white;">
				<th colspan="2" width="100%" style="text-align: left;
                padding: 7px;
                vertical-align:top;">Room: {{sessionst.sroom}}</th>
				   
			    </tr>
			    <tr style="background-color: #D9D9D9;">	
				<th  colspan="2" width="100%" style="text-align: left;
                padding: 7px;
                vertical-align:top;">Chair: {{sessionst.schair}}</th>
			    </tr> 	    
			</thead>
			<tbody>
				<tr ng-repeat="paperst in papers | filter: {'sid':sessionst.sid}  | filter: {'pauthors': author}" ng-if="showpapers" ng-style="$index % 2 == 0 ? {'background-color':'white'} : {'background-color':'#D9D9D9'}">
				<td width="60%" style="text-align: left;
                padding: 7px;
                vertical-align:top;">{{paperst.ptitle}}</td>
			 	<td width="40%" style="text-align: left;
                padding: 7px;
                vertical-align:top;">{{paperst.pauthors}}</td>
				</tr>
			</tbody>
		</table>
            <br>
        </div> 
            <br style="page-break-before: always">
        </div>    
    </div>
</div>
-->
