<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 text-right">
            <button class="btn btn-link" ng-click="exportToExcel('*')">
                <span class="glyphicon glyphicon-share"></span> Export to Excel
            </button>
            <strong>Version: {{todaydate | date : 'dd/MM/yyyy HH:mm'}}</strong>
        </div>
        <div class="col-xs-12" ng-repeat="parallelt in parallel" ng-if="showparallel">
	<h1>Parallel session {{parallelt.psid}}.</h1>	
		<p>{{parallelt.date_long}}, {{parallelt.hour_begin}} - {{parallelt.hour_end}}</p>
		<table class="table table-sm table-bordered table-striped table-dark" ng-repeat="sessionst in sessions | filter: {'psid':parallelt.psid}" ng-if="showsessions"> 
			<thead>
			    <tr style="background-color: black; color: white">
				<th colspan="2" width="100%">{{sessionst.sid}} {{sessionst.stitle}}</th>
			    </tr>
			    <tr>
				<th colspan="2" width="100%">Room: {{sessionst.sroom}}</th>
				   
			    </tr>
			    <tr>	
				<th  colspan="2" width="100%">Chair: {{sessionst.schair}}</th>
			    </tr> 	    
			</thead>
			<tbody>
				<tr ng-repeat="paperst in papers | filter: {'sid':sessionst.sid}" ng-if="showpapers">
				<td width="70%">{{paperst.ptitle}}</td>
			 	<td width="30%">{{paperst.pauthors}}</td>
				</tr>
			</tbody>	
		</table>
        </div>
    </div>
</div>


